body{
 margin: 0;
 background-color: #F1DABF;
 overflow-x: hidden;
 user-select: none;
}
.Accueil{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
 #Gl{
   font-size: 100px;
   font-family: 'Poppins', sans-serif;
   position: absolute;
   top: 30%; left: 50%;
   transform: translate(-50%, -50%);
   cursor: default;
   z-index: 1;
 }
  #cl{
    font-size: 100px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 43%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    z-index: 1;
  }
  #nb1{
    transform: rotate(43deg);
    margin-top: 500px;
    animation-name: Gloopsa;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    z-index: -1;
  }
@keyframes Gloopsa {
  0%{
    margin-left: -50%;
  }
  40%{
    margin-left: -150px;
  }
  70%{
    margin-left: -150px;
  }
  100%{
    margin-left: -50%;
  }
}
#nb2{
  transform: rotate(-15deg);
  float: right;
  margin-top: 58px;
  animation-name: Gloopsb;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  z-index: -1;
}
@keyframes Gloopsb {
0%{
  margin-right: -50%;
}
40%{
  margin-right: -150px;
}
70%{
  margin-right: -150px;
}
100%{
  margin-right: -50%;
}
}
#glo{
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  margin-left: 100px;
}
#expl{
  width: 50%;
  margin-left: 100px;
  font-family: 'Varela Round', sans-serif;
}
#n1{
  width: 30%;
  float: right;
  margin-top: -350px;
  margin-right: 10%;
}
#rd{
  position: relative;
  font-size: 50px;
  margin-top: 240px;
  margin-left: 100px;
  left: 10px;
  font-family: 'Roboto Slab', serif;
}
#roadmap{
  position: relative;
  margin-left: 0px;
  margin-top: 20px;
  width: 100%;
}
#ach{
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
  margin-left: 100px;
}
#exach{
  font-family: 'Varela Round', sans-serif;
  margin-left: 100px;
  width: 80%;
}
#eq{
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  margin-top: 100px;
  margin-left: 100px;
}
#ppgl{
  margin-left: 120px;
}
@media (max-height: 800px){
  #nb1{
    margin-top: 300px;
  }
  #glo{
    margin-top: 120px;
  }


  @media (max-height: 700px){
    #Gl{
      top: 25%;
    }
    #nb1{
      margin-top: 100px;
    }
    #nb2{
      margin-top: -50px;
    }
}
